<footer class="site-footer">
  <button class="footer__to-top" type="button" aria-label="Voltar ao topo" data-back-to-top>
    <img src="/assets/icons/chevron-up.svg">
  </button>

  <div class="container">
    <div class="footer__header">
      <a href="/index.html" class="footer__logo">
        <img src="/assets/images/logo-bem-estar.png" title="Logotipo do Programa de Apoio ao Paciente Bem Estar" alt="Logotipo do Programa de Apoio ao Paciente Bem Estar, apresentando a figura estilizada de uma pessoa em azul com um coração luminoso em tons de amarelo e laranja do lado esquerdo, acompanhado pelo texto em maiúsculas azuis à direita.">
      </a>

      <div class="footer__social">
        <a href="https://www.youtube.com/@bemestarnovartis46" target="_blank" rel="noopener">
          <img src="/assets/icons/youtube.svg">
        </a>
        <a href="https://www.instagram.com/novartisbrasil/" target="_blank" rel="noopener">
          <img src="/assets/icons/instagram.svg">
        </a>
      </div>
    </div>

    <hr class="footer__separator">

    <div class="footer__contact">
      <div class="footer__contact-columns">
        <div class="footer__contact-column">
          <p class="footer__contact-label">SAC PROGRAMA BEM ESTAR:</p>
          <p class="footer__contact-value">0800 776 6300</p>
        </div>
        <div class="footer__contact-column">
          <p class="footer__contact-label">SIC - Serviço de Informações<br>ao Cliente NOVARTIS:</p>
          <p class="footer__contact-value">0800 888 3003</p>
        </div>
      </div>

      <div class="footer__info">
        <div class="footer__info-row">
          <img src="/assets/icons/mail.svg">
          <a href="mailto:sic.novartis@novartis.com">sic.novartis@novartis.com</a>
        </div>
        <div class="footer__info-row">
          <img src="/assets/icons/clock.svg">
          <span>Segunda a sexta-feira, das 8h às 20h<br>(horário de Brasília), exceto feriados</span>
        </div>
      </div>
    </div>

    <p class="footer__description">
      Material parte do Programa de Suporte ao Paciente para público em geral. A Novartis poderá, a seu exclusivo critério, a qualquer tempo, interromper o Programa de Pacientes mediante comunicação prévia aos participantes cadastrados. © 2026 Direitos reservados Novartis Biociências S/A. Proibida a reprodução total ou parcial sem autorização do titular. Produzido em setembro/2026. BR-32140.
    </p>

    <div class="footer__bottom">
      <p class="footer__bottom-copy">© Programa Bem Estar – Todos direitos reservados/2026.</p>
      <div class="footer__bottom-links">
        <button type="button" data-cookie-settings>Configurações<br class="footer__mobile-break"> de cookies</button>
        <a href="/pages/aviso-de-privacidade.html">Aviso de<br class="footer__mobile-break"> privacidade</a>
        <a href="/pages/termo-de-uso.html">Termos<br class="footer__mobile-break"> de uso</a>
      </div>
    </div>
  </div>
</footer>
