.a11y-widget {
  position: fixed;
  right: 0;
  top: 45%;
  background: var(--color-blue-dark);
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 15px 20px;
  border-radius: 16px 0 0 16px;
  z-index: 40;
}

.a11y-widget button {
  background: none;
  border: none;
  padding: 0;
  width: 42.463px;
  height: 42.463px;
}

.a11y-widget img {
  width: 42.463px;
  height: 42.463px;
}

@media (max-width: 1200px) {
  .a11y-widget {
    gap: 10px;
    padding: 10px 14px;
  }

  .a11y-widget button,
  .a11y-widget img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 900px) {
  .a11y-widget {
    gap: 8px;
    padding: 8px 10px;
  }

  .a11y-widget button,
  .a11y-widget img {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 720px) {
  .a11y-widget {
    display: none;
  }
}
